.ampel{
  display:inline-block;
  width:14px;
  height:14px;
  border-radius:7px;
}
.rot{
  background-color:red;
}
.gelb{
  background-color:yellow;
}
.gruen{
  background-color:green;
}

.vr_icons{
  float: left;
margin-top: 1px;
margin-right: 10px;
height:40px;
}

.logo{
  width:500px;
  padding:10px;
}

.detail_icon{
  width: 40px;
  height: 40px;
}

.detail_logo{
  margin-top: 5px;
}

.detail_fonticon{
  font-size: 40px !important;
}

.modal-content {
  padding-bottom: 0px !important ;
}

.modal {
  width: 75% !important ;
  max-height: 100% !important ;
}

#searchResult{
  position:absolute;
  border:1px solid grey;
  z-index:10000;
  background-color:#fff;
}
#searchResult .entry span{
  padding:5px;
}


/* OVERRIDE MATERIALIZE CSS*/
textarea:focus {
  border-bottom: 1px solid #0d47a1;
  -webkit-box-shadow: 0 1px 0 0 #0d47a1;
  -moz-box-shadow: 0 1px 0 0 #0d47a1;
  box-shadow: 0 1px 0 0 #0d47a1;
}

.tabs .tab a {
    color: orange;
}

.tabs .indicator {
    background-color: orange;
}
